# User Testing Report

User testing was conducted by Caroline Guindon on October 24th, 2013, between the times of 3:00 PM and 6:00 PM with the following participants:

- Alyster Mahoney
- Jessica Hay
- Kelsey Macmillan

## Tasks

1. Look up our Solar System
2. Find info on Saturn's atmosphere
3. Where would you look for information on Comets

---

## Individual Results & Observations

### Alyster Mahoney

- Found the links easily
- OBSERVATIONS: Give Jupiter icon top and bottom outline (so as not to cut off the circle)
- Planet icons got supper tiny (check small screen)
- Wanted to find Comet's page in Basics and not GLossary first

### Jessica Hay

- Found stuff easily
- Link still on arrows for Saturn page info categories go to nowhere
- Glossary was the second choice for finding Comets
- OBSERVATION: Keep the planet icons on all planet pages not just the Solar system page

### Kelsey MacMillan

- Found the first two tasks very easily
- Could not found where the Comets would be
- OBSERVATIONS: Change the glossary name to Space stuff perhaps

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Need to change the Term for Glossary (Space Stuff?)

### Serious, Causes Frustration, May Hinder Completion

- N/A

### Minor, Annoying, Won’t Hinder Completion

- One Candidate: Wanted the planet icons to be more often, did not want to go back to Our System to go through the planets