@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font: normal 100%/1.4 'Oswald',sans-serif;
}

body {
	margin: 0;
	padding: 1em;
	background-image: url("../img/bg-stars.jpg");
	background-color: #000;
	background-size: 100% auto;

	color: #fff;
	font-weight: lighter;
}



.skiplinks{
	margin: 0;
	padding: 0;
	position: absolute;
	z-index:3000;
	width:100%;
	font-size: 1.25rem;
	font-weight:bold;
	list-style-type: none;
}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited{
	padding:0.75em 1em;
	position: absolute;
	top: -10em;
	font-family: 'Helvetica', sans-serif;
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

.skiplinks a:focus{
top: 0;
}

a:hover,
a:active{
/* its ok to remove outline here because its only for the mouse users. */
	outline:none;
}

a:focus{
/*YOU MUST ALWAYS HAVE AN OUTLINE HERE*/
outline: 3px solid #fff;
}



.bg-saturn {
		background-image: url("../img/saturn.jpg");
		background-repeat: no-repeat;

}

.bg-home {
		background-image: url("../img/bg-spiral-galaxy.jpg");
		background-repeat: no-repeat;
		width: 100%;
		display: block;
}

.bg-system {
		background-image: url("../img/bg-dwarf-galaxy.jpg");
		background-repeat: no-repeat;
		width: 100%;
		display: block;
}

.unit-spacer-right{
	padding-right: 0;
}

.unit-spacer-left{
	padding-left: 0;
}

.bg-image {
	opacity: 0.8;
	position: fixed;
}

hr {
	height: 1px;
	border: none;
	background-color: #fff;
}

.logo {
	display: block;

	margin: .75em 0;
}

.logo a {
	display: block;
}

.logo img {
	width: 100%;
	max-width: 15em;
}

nav {

}

a {
		text-decoration: none;
		color: #fff;
}


.nav {
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	vertical-align: middle;


	line-height: 1em;


	border-bottom-style: solid;
	border-color: #fff;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-color: #fff;
	border-right-width: 1px;
}

.nav a{
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
	display: block;
	padding: 0.2em;
}

.nav:hover {
	background-color: #F05A2A;
}

.nav:visited {
	border-top-style: solid;
	border-color: #fff;
	border-top-width: 1px;
}

h1 {
	text-transform: uppercase;
	font-size: 2.5em;
	font-weight: 400;
	margin-bottom: 0;
	text-align: center;
}

h2 {
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 0;
}

h3 {
	font-weight: 300;
	margin-bottom: 0;
	padding-bottom: 0;
}

p {
	font-size: .9em;
	font-family: 'Helvetica', sans-serif;
}

footer {
	font-family: 'Helvetica', sans-serif;
	font-size: .75em;

	border-top-style: solid;
	border-color: #fff;
	border-top-width: 1px;
}

.first-p {
	margin-top: 0;
}

.last-p {
	padding-bottom: 2em;
	margin-bottom: 2em;

	border-bottom-width: 1px;
	border-bottom-color: #fff;
	border-bottom-style: solid;
}

.text-icon {
	display: inline-block;
	width: 100%;
}

.stats-img {
	max-width: 100%;
}

.content-img {
	max-width: 100%;
	padding-top: 5.5em;
}

.orange {
	color: #F05A2A;
}

.bold {
	font-weight: 400;

}

.stats {
	margin: auto;
}

.stats tr{
	margin-bottom: 2em;
}

.stats th{
	text-transform: uppercase;
	text-align: right;
	padding-right: 1em;
	font-weight: 300;
}

.stats td{
	font-weight: 300;
	color: #F05A2A;
}

.system {
	min-height: 5em;
	margin: 0 0.5em;
}

.system img {
	width: 100%;
	display: block;
}

.system-names {
	padding: 0;
	margin: 2em 0.5em 0;
	text-align: center;
}

.system-names a {
		color: #F05A2A;
}

.link-box {
	display: block;
	padding-top: 4em;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 35%;
	max-width: 15em;
}

.link-box img {

	margin: auto;
}

.i-basics {
	background-image: url("../img/icons/basics.svg");
}

.i-exploration {
	background-image: url("../img/icons/exploration.svg");
}


.i-more-stars {
	background-image: url("../img/icons/more-stars.svg");
}

.i-constellation {
	background-image: url("../img/icons/constellation.svg");
}

.i-largest {
	background-image: url("../img/icons/largest.svg");
}

.i-milky {
	background-image: url("../img/icons/milky.svg");
}

.i-redgiant {
	background-image: url("../img/icons/redgiant.svg");
}

.i-star-gazing {
	background-image: url("../img/icons/star-gazing.svg");
}

.i-mysteries {
	background-image: url("../img/icons/mysteries.svg");
}

.i-zodiac {
	background-image: url("../img/icons/zodiac.svg");
}



hr {
	margin: 2em 0;
}

.lostpage {
	padding: 3em 1em;
}

.lost {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
}

.h1-lost {
	text-align: center;
	font-size: 4em;
}

.h2-lost {
	text-align: center;
	font-size: 2em;
}


@media only screen and (min-width: 30em) and (max-width: 38em) {
  body {
    font-size: 110%;
  }
}

@media only screen and (min-width: 41em) and (max-width: 60em) {
	body {
    font-size: 105%;
  }

  h1 {
  	text-align: left;
  }

  .logo {
  	display: inline;
  }

}

@media only screen and (min-width: 60em) {
	  .logo {
  	display: inline-block;
  }

  h1 {
  	text-align: left;
  }

  	body {
    font-size: 110%;
  }

  .h1-lost {
	font-size: 6em;
}

.h2-lost {
	font-size: 2em;
}

	}


