<!DOCTYPE html>
<html lang=en-ca>
<head>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <meta charset=utf-8>
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/general.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Space · Research our solar system and outer space</title>
  <meta name="description" content="{{page.meta}}">

	<!-- Facebook -->
	<meta property="og:type" content="article">
  <meta property="og:title" content="Space · Research our solar system and outer space">
  <meta property="og:url" content="http://cguindon.github.io/large-data-website/.html">
  <!-- Image size: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="http://cguindon.github.io/large-data-website/img/logo.png">
  <meta property="og:description" content="Space is the unlimited void between astronomical objects. We've created a library to help you research our solar system and more.">
  <meta property="og:site_name" content="Look Up · com">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:title" content="Space · Research our solar system and outer space">
  <meta property="twitter:url" content="http://cguindon.github.io/large-data-website/.html">
  <!-- Image size: 120x120 (Twitter will scale down any larger image to fit)-->
  <meta property="twitter:image" content="http://cguindon.github.io/large-data-website/img/logo.png">
  <meta property="twitter:description" content="Space is the unlimited void between astronomical objects. We've created a library to help you research our solar system and more.">
</head>

<body class="{{page.bgclass}}">

<ul class="skiplinks">
<li><a href="#main">Skip to primary content</a></li>
<li><a href="#comp">Skip to secondary content</a></li>
<li><a href="#navi">Skip to main navigation</a></li>
</ul>

	<header>

		<div class="grid" role="navigation" id="navi">

			<div class="logo unit unit-xs-1 unit-s-1-2 unit-m-1-3 unit-l-1-3">
				<div class="unit-spacer">
					<a href="index.html" rel="home"><img src="img/logo.png" alt="Look Up · com Logo"></a>
				</div>
			</div>

			<div class="unit unit-xs-hidden unit-s-hidden unit-m-hidden unit-l-1-9">
				<div class="unit-spacer">
				</div>
			</div>

			<div class="unit unit-xs-2-9 unit-s-hidden unit-m-1-9 unit-l-1-9">
				<div class="unit-spacer">
				</div>
			</div>

			<div class="unit unit-xs-5-9 unit-s-1-4 unit-m-1-5 unit-l-1-9">
				<div class="unit-spacer">
					<nav class="nav">
							<a href="index.html" rel="home">basics</a>
					</nav>
				</div>
			</div>

			<div class="unit unit-xs-2-9 unit-s-hidden unit-m-hidden unit-l-hidden">
				<div class="unit-spacer">
				</div>
			</div>

			<div class="unit unit-xs-2-9 unit-s-hidden unit-m-hidden unit-l-hidden">
				<div class="unit-spacer">
				</div>
			</div>

			<div class="unit unit-xs-5-9 unit-s-1-4 unit-m-1-5 unit-l-1-9">
				<div class="unit-spacer">
					<nav class="nav">
							<a href="oursystem.html">our system</a>
					</nav>
				</div>
			</div>

			<div class="unit unit-xs-2-9 unit-s-hidden unit-m-hidden unit-l-hidden">
				<div class="unit-spacer">
				</div>
			</div>

			<div class="unit unit-xs-2-9 unit-s-hidden unit-m-hidden unit-l-hidden">
				<div class="unit-spacer">
				</div>
			</div>

			<div class="unit unit-xs-5-9 unit-s-1-4 unit-m-1-5 unit-l-1-9">
				<div class="unit-spacer">
					<nav class="nav">
							<a href="stars.html" >stars</a>
					</nav>
				</div>
			</div>

			<div class="unit unit-xs-2-9 unit-s-hidden unit-m-hidden unit-l-hidden">
				<div class="unit-spacer">
				</div>
			</div>

				<div class="unit unit-xs-2-9 unit-s-hidden unit-m-hidden unit-l-hidden">
					<div class="unit-spacer">
					</div>
				</div>

				<div class="unit unit-xs-5-9 unit-s-1-4 unit-m-1-5 unit-l-1-9">
					<div class="unit-spacer">
						<nav class="nav">
								<a href="stars.html">space stuff</a>
						</nav>
					</div>
				</div>

			<div class="unit unit-xs-2-9 unit-s-hidden unit-m-1-9 unit-l-hidden">
				<div class="unit-spacer">
				</div>
			</div>

		</div>

	</header>

	<main role="main" id="main">
	{{content}}
	</main>

		<div class="grid">
			<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
				<footer role="contentinfo">© All Rights Reserved. Design created by Caroline Guindon. Content sourced from <a href="http://en.wikipedia.org/" class="bold" rel="external">Wikipedia.org</a></footer>
			</div>
		</div>

	</body>
</html>
